@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
    --cor0: #940707;
    --cor1: #d9d9d9;
    --cor2: #77b513;
    --cor3: #4a0000;
    --cor4: #ababab;
}


body {
    
}


header {
    background-image: linear-gradient(to bottom, var(--cor3), #c22a2a);
    background-repeat: no-repeat;
    width: 100vw;
    height: 300px;
    color: white;
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.301);
}

header>div {
    position: relative;
}

header>div>nav>a {
    color: white;
    background-color: #6b01019a;
    padding: 5px 30px;
    margin-right: 10px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.301);
    border-radius: 15px;
}

header>div>nav>button {
    color: white;
    background-color: #6b01019a;
    padding: 5px 30px;
    margin-right: 10px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.301);
    border-radius: 15px;
}

header>div>nav {
    margin-left: 70%;
    padding: 15px 5px 5px 5px;
}

header>h1 {
    margin-left: 25px;
    margin-top: 5px;
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.301);
    font-size: 1.5em;
}

header>div>h2 {
    font-size: 3em;
}

header>div>button {
    border: none;
    border-radius: 5px;
    max-width: 150px;
    width: 150px;
    height: 35px;
    text-align: center;
}

header>img {
    position: absolute;
    left: 50%;
   top: -1%;
    max-width: 500px;
}

.cor-carrinho {
    background-color: var(--cor3);
}

.btn-comprar {
    margin-top: 35px;
    margin-left: 50px;
}

main {
    
}

.position-div{
    position: absolute;
    width: 800px;
    height: 400px;
    left: calc(50% - 400px);
    top: 490px;

}

.img1{
    max-width: 140px;
    position: absolute;
    left: calc(50% - 275px);
}

.img2{
    top: 180px;
    width: 140px;
    position: absolute;
    left: calc(50% - 275px);
}

.img3{
    top: 160px;
    max-width: 340px;
    position: absolute;
   
    left: calc(50% - 70px); 
}

footer {
    background-image: linear-gradient(to top, var(--cor0), #c22a2a);
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 10px 0px 5px 0px;
    text-align: center;
    color: white;
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.301);
}

